.container
{
	
//max-width:100%;
width:995px;
margin:auto;
//background:blue;	
overflow:hidden;

	
}

.CallUs
{
width:990px;
//height:85px;
background:white;


color:black;
font-size:33px;
//padding: 10px;
text-align: right;
font-weight: bold;
font-family: arial;
//margin-left:3px;
float:center; 
line-height: 1.6;

//margin-bottom:10px;	
	
	
}

.number
{
width:990px;
//height:85px;
background:white;


color:black;
font-size:28px;
//padding: 10px;
text-align: right;
font-weight: bold;
font-family: arial;
//margin-left:3px;
float:center; 

//margin-bottom:10px;	
	
	
}

.Logo
{
//width:300px;
//height:100px;
//background:white;

//margin-left:3px;
float:left; 

//margin-bottom:10px;	
	
	
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 1px;
  overflow: hidden;
  background-color: black;
  width: 990px;
  height: 57px;
  float: center;
  margin-bottom:10px;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 49.8px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  font-size: 28px;
}

li a:hover:not(.active) {
  background-color: white;
  
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 28px;
}

.active {
  background-color: #f54a1c;
}

.block
{
width:125px;
height:250px;
background:white;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
font-family: arial;
text-align: left;
color:black;
font-size:18px;
padding: 33px;
margin: auto;
//margin-left:40px;
float:left; 
margin-top: 13px;

margin-bottom:10px;	
	
	
}

.text1
{
width: 990px;
font-family: arial;
font-size: 21.6px;
position: absolute;
left: 684px;
margin-top: 19px;
}

.block1
{
width:161px;
height:162px;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
//padding:20px;
margin-left: 40px;
float:right;
margin-bottom:20px;
margin-top:107px;
}

.endblock1
{
width:161px;
height:162px;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
//padding:20px;
//margin-left: 10px;
float:right;
margin-bottom:20px;
margin-top:107px;
}

.block2
{
width:161px;
height:162px;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
//padding:20px;
margin-left: 40px;
float:right;
margin-bottom:20px;
margin-top:20px;	
	
}

.endblock2
{
width:161px;
height:162px;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
//padding:20px;
//margin-left: 10px;
float:right;
margin-bottom:20px;
margin-top:20px;
}

.block3
{
width:161px;
height:162px;
border-color: #d3d3d3;
border-width: 1px;
border-style: groove;
//padding:20px;
margin-left: 40px;
clear: right;
float:right;
margin-bottom:20px;
margin-top:20px;	
}

.girlimage
{
float: left;
margin-top: 20px;
margin-left: 223px;
margin-bottom: 45px;
}

.text2
{
font-family: arial;
font-size: 22px;
margin-left:10px;
margin-top: 20px;
float: left;
}

.text3
{
width: 450px;
font-family: arial;
font-size: 15.3px;
position: absolute;
left: 1060px;
top: 938px;
//margin-left:10px;
margin-top: 15px;
float: right;
}