.container
{
	
//max-width:100%;
width:995px;
margin:auto;
//background:white;	
overflow:hidden;

	
}

.CallUs
{
width:990px;
//height:85px;
background:white;


color:black;
font-size:33px;
//padding: 10px;
text-align: right;
font-weight: bold;
font-family: arial;
//margin-left:3px;
float:center; 
line-height: 1.6;

//margin-bottom:10px;	
	
	
}

.number
{
width:990px;
//height:85px;
background:white;


color:black;
font-size:28px;
//padding: 10px;
text-align: right;
font-weight: bold;
font-family: arial;
//margin-left:3px;
float:center; 

//margin-bottom:10px;	
	
	
}

.Logo
{
//width:300px;
//height:100px;
//background:white;

//margin-left:3px;
float:left; 

//margin-bottom:10px;	
	
	
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 1px;
  overflow: hidden;
  background-color: black;
  width: 990px;
  height: 57px;
  float: center;
  margin-bottom:10px;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 49.8px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  font-size: 28px;
}

li a:hover:not(.active) {
  background-color: white;
  
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 28px;
}

.active {
  background-color: #f54a1c;
}

.img1
{
//width:990px;
//height:366px;

margin: auto;
float: left; 
margin-bottom:10px;	

}

.text1
{
width: 990px;

color:black;
font-size:18px;

text-align: left;
font-weight: bold;
font-family: arial;

float:left; 

margin-bottom:30px;	

	
}

.img2
{
	
float: right;
margin-bottom: 10px;	
	
}

.text2
{
//width:250px;

color:black;
font-size:18px;

text-align: left;
font-weight: bold;
font-family: arial;

float:left; 
margin-left: 25px;
margin-bottom:31px;	
	
}

.text3
{
//width:250px;

color:black;
font-size:18px;

text-align: left;
font-weight: bold;
font-family: arial;
float:right; 

margin-left: 25px;
margin-bottom:31px;	
	
}

.text4
{
width:311.5px;
//height:32px;

color:black;
font-size:44px;

text-align: left;
font-weight: bold;
font-family: arial;

padding: 10px;
margin-left:auto;
float:left; 

//margin-bottom:10px;	
line-height: 1;
	
}

.img
{
width:311.5px;
height:170px;
//background:black;

padding: 10px;

margin:auto;
float:left; 

margin-bottom:10px;	

	
}

.text5
{
width:311.5px;
//height:32px;

color:black;
font-size:13px;

text-align: left;
font-family: arial;

padding: 10px;
margin-left:auto;
float:left; 

margin-bottom:10px;	
//line-height: 1;
	
}
